/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    spatial-ir Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input and Output options
    input = null
    outdir = 'out'

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_cpus = 12
    max_memory = '64.GB'
    max_time = '48.h'

    // Boilerplate options
    help = false
    version = false
    publish_dir_mode = 'copy'
    monochrome_logs = false
    hook_url = null
    validate_params = true
    validationShowHiddenParams = false
    validationFailUnrecognisedParams = false
    validationLenientMode = false

    // Config options
    config_profile_name        = null
    config_profile_description = null

    numba_cache = "numba_tmp"
}

env {
  NUMBA_CACHE_DIR = params.numba_cache
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_report.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}
dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.html"
    overwrite = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Profiles for different compute environments, from btc/spatial
profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup                = false
    }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled         = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    shifter {
        shifter.enabled        = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    charliecloud {
        charliecloud.enabled   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        apptainer.enabled      = false
    }
    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        envWhitelist = 'NUMBA_CACHE_DIR,APPTAINER_TMPDIR'
        runOptions = [
            "-B ${params.numba_cache}:${params.numba_cache}",
            "-B \$HOME:'' "
        ]
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    gitpod {
        executor.name          = 'local'
        executor.cpus          = 4
        executor.memory        = 8.GB
    }
    mskcc_iris {
        singularity {
            enabled = true
            autoMounts = true
        }
        process {
            executor = 'slurm'
            queue = 'componc_cpu,componc_gpu'
        }
        executor {
            name = 'slurm'
            queueSize = 25
        }
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }
    jhpce {
        singularity {
            enabled = true
            autoMounts = true
        }
        process {
            executor = 'slurm'
            queue = 'shared'
        }
        executor {
            name = 'slurm'
        }
    }
    jhu_discovery {
        singularity {
            enabled = true
            autoMounts = true
        }
        process {
            executor = 'slurm'
            queue = 'cpu'
        }
        executor {
            name = 'slurm'
        }
    }
    igs {
        apptainer {
            enabled = true
            autoMounts = true
            pullTimeout = '60m'
        }
        process {
            executor = 'slurm'
            clusterOptions = "-x juggernaut"
        }
    }

}

// Nextflow plugins
// Validation of pipeline parameters and creation of an input channel from a sample sheet
plugins {
    id 'nf-validation'
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER = "/.Rprofile"
    R_ENVIRON_USER = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

manifest {
    name = 'disidlab/spatial-ir'
    author = """"""
    homePage = 'https://github.com/DSidLab/spatial-ir-pipeline'
    description = """spatial immune receptor pipeline"""
    mainScript = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version = '0.0.1.dev'
    doi = ''
}

includeConfig 'conf/modules.config'
