/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run dsidlab/spatial-ir-pipeline -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    cpus                   = 2
    memory                 = '6.GB'
    time                   = '6.h'

    // Input data
    input                      = 'https://raw.githubusercontent.com/dsidlab/spatial-ir-pipeline/main/tests/data/samples.csv'
}

env {
    NUMBA_CACHE_DIR = "_tmp/numba"
    MPLCONFIGDIR    = "_tmp/matplotlib"
}

process {
    withLabel: process_medium {
        cpus   = { 2 }
        memory = { 6.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }
    withLabel: process_low {
        cpus   = { 2 }
        memory = { 6.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }
}
